.titulo{
    text-align: center;
    background-color: purple;
    color: white;
    margin: 0px;
    border-bottom: 3px solid black;
}

.meio{
    text-align: justify;
    margin: 20%;

}
h2{
    font-size: 35px;
    font-style: bold;
    font-family: ubuntu;


}
